[Unit]
Description=OpenAKC Socket

[Socket]
ListenStream=889
TriggerLimitBurst=0
Accept=yes                          

[Install]
WantedBy=sockets.target
